modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Thanarah Portal"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Thanarah Portal"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3000 BASE_PATH=/ pnpm --filter @workspace/thanarah-portal run dev"
waitForPort = 3000

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MONGODB_DATABASE_NAME = "thanarah_presentation"
NODE_ENV = "development"
SMTP2GO_HOST = "mail.smtp2go.com"
SMTP2GO_PORT = "587"
SMTP_FROM_EMAIL = "noreply@thanarah.com"
SMTP_FROM_NAME = "Thanarah"
THANARAH_OWNER_EMAIL_1 = "youssefd.business@gmail.com"
THANARAH_OWNER_EMAIL_2 = "faisal.m.alenzai@gmail.com"
MAIL_PROVIDER = "CPANEL"
SMTP_HOST = "business197.web-hosting.com"
SMTP_PORT = "465"
SMTP_SECURE = "true"
SMTP_USERNAME = "noreply@thanarah.com"

[nix]
channel = "stable-25_05"
