modules = ["nodejs-20", "web", "bash", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MONGODB_DATABASE_NAME = "thanarah_presentation"
NODE_ENV = "development"
SMTP2GO_HOST = "mail.smtp2go.com"
SMTP2GO_PORT = "587"
SMTP_FROM_EMAIL = "noreply@thanarah.com"
SMTP_FROM_NAME = "Thanarah"
THANARAH_OWNER_EMAIL_1 = "youssefd.business@gmail.com"
THANARAH_OWNER_EMAIL_2 = "faisal.m.alenzai@gmail.com"
MAIL_PROVIDER = "CPANEL"
SMTP_HOST = "business197.web-hosting.com"
SMTP_PORT = "465"
SMTP_SECURE = "true"
SMTP_USERNAME = "noreply@thanarah.com"

[nix]
channel = "stable-25_05"
